<ion-content [fullscreen]="true">
  <div class="background-wrapper">
    <div class="main-card">

      <ng-container *ngIf="vista === 'lista'">
        <div class="header-container">
          <div class="user-greeting">
            <h1>¡Bienvenido, RH!</h1>
            <p class="fecha-subtitle">{{fechaHoy}}</p>
          </div>
          <ion-icon name="log-out-outline" class="logout-icon" (click)="cerrarSesion()"></ion-icon>
        </div>

          <!--Se muestar primero la lista de suspenciones pendientes, porque
          es algo mas urgente-->
        <div class="section-container" *ngIf="solicitudesPendientes.length > 0">
          <p class="field-label">Solicitudes de Suspensión</p>
          <div class="solicitudes-list">
            <div class="solicitud-card" *ngFor="let op of solicitudesPendientes" (click)="verDetalle(op)">
              <div class="sol-info">
                <span class="name">{{op.nombre}}</span>
                <span class="meta">No. Reloj: {{op.reloj}} | {{op.linea}}</span>
              </div>
              <button class="btn-revisar">REVISAR CASO</button>
            </div>
          </div>
        </div>

        <div class="section-container" *ngIf="listaSuspendidos.length > 0">
          <p class="field-label" style="color: #ef4444;">Operadores Suspendidos</p>
          <div class="solicitudes-list">
            <div class="solicitud-card suspended-border" *ngFor="let op of listaSuspendidos" (click)="verDetalle(op)">
              <div class="sol-info">
                <span class="name">{{op.nombre}}</span>
                <span class="meta">Estado: SUSPENDIDO | {{op.reloj}}</span>
              </div>
              <ion-icon name="alert-circle" style="color: #ef4444; font-size: 20px;"></ion-icon>
            </div>
          </div>
        </div>

        <!--Rh va poder cambiar, la lista de semaforos 
        para poder ver los que estan en rojo, amarrillo y verde,
        pero se va mostrar primero la lista de los qu eestan en rojo-->
        <div class="section-container">
          <p class="field-label">Control de Semáforo Preventivo</p>
          <div class="segment-container">
            <button [class.active-red]="filtroSemaforo === 'rojo'" (click)="filtroSemaforo = 'rojo'">ROJO</button>
            <button [class.active-yellow]="filtroSemaforo === 'amarillo'" (click)="filtroSemaforo = 'amarillo'">AMARILLO</button>
            <button [class.active-green]="filtroSemaforo === 'verde'" (click)="filtroSemaforo = 'verde'">VERDE</button>
          </div>

          <div class="scroll-area">
            <div class="employee-card" *ngFor="let emp of listaFiltrada" (click)="verDetalle(emp)">
              <div class="indicator" [ngClass]="emp.semaforo"></div>
              <div class="employee-info">
                <h2 class="nombre-operador">{{emp.nombre}}</h2>
                <p class="reloj-text">No. Reloj: {{emp.reloj}} | {{emp.linea}}</p>
              </div>
              <ion-icon name="chevron-forward-outline" class="chevron-icon"></ion-icon>
            </div>
          </div>
          
          <button class="footer-btn">
            <ion-icon name="document-attach-outline"></ion-icon>
            GENERAR REPORTE {{filtroSemaforo.toUpperCase()}}
          </button>
        </div>

        <div class="button-section" style="margin-top: 20px;">
          <button class="action-footer-btn" (click)="setVista('password')">
            <ion-icon name="key-outline"></ion-icon>
            CAMBIAR CONTRASEÑA
          </button>
        </div>
      </ng-container>

      <ng-container *ngIf="vista === 'detalle'">
        <div class="back-nav" (click)="vista = 'lista'">
          <ion-icon name="arrow-back-outline"></ion-icon>
          <span>REGRESAR</span>
        </div>

        <div class="info-card-blue centered-info">
          <div class="semaforo-pill" [ngClass]="operadorSeleccionado?.semaforo">
            RIESGO {{operadorSeleccionado?.semaforo.toUpperCase()}}
          </div>
          <h2>{{operadorSeleccionado?.nombre}}</h2>
          <div class="reloj-tag">No. Reloj: {{operadorSeleccionado?.reloj}} | {{operadorSeleccionado?.linea}}</div>
        </div>

        <p class="field-label">Historial Reciente</p>
        
        <div class="history-card">
          <div class="history-item" *ngFor="let log of operadorSeleccionado?.historial">
            <span class="history-label">{{log.fecha}}</span>
            <strong class="history-value">{{log.evento}}</strong>
            <ion-icon [name]="log.icono" [class]="log.claseIcono"></ion-icon>
          </div>
        </div>
        
          <!--Se muestra primero el kardex para que recursos se base en el para aceptar o
          rechazar la solicitud-->
        <button class="kardex-btn">
          <ion-icon name="document-text-outline"></ion-icon> VER KARDEX COMPLETO
        </button>

          <!--Rh va decidir si acepta o no la suspension de un operador basandose en kardex-->
        <div class="decision-footer" *ngIf="operadorSeleccionado?.estado === 'PENDIENTE RH'">
          <button class="btn-action approve" (click)="gestionarSuspension('aprobar')">ACEPTAR SUSPENSIÓN</button>
          <button class="btn-action reject" (click)="gestionarSuspension('rechazar')">RECHAZAR SOLICITUD</button>
        </div>

        <div class="decision-footer" *ngIf="operadorSeleccionado?.estado === 'SUSPENDIDO'">
          <button class="btn-action reactivate" (click)="gestionarSuspension('reactivar')">REESTABLECER / QUITAR SUSPENSIÓN</button>
        </div>
      </ng-container>

      <div class="page-container" *ngIf="vista === 'password'">
        <div class="header-with-back">
          <button class="back-btn" (click)="setVista('lista')">
            <ion-icon name="arrow-back-outline"></ion-icon>
          </button>
          <div style="text-align: left;">
            <h1 class="user-name-pass">Nueva Contraseña</h1>
            <p class="user-id-pass">Asegura tu cuenta</p>
          </div>
        </div>

        <form class="password-form" (submit)="$event.preventDefault()">
          <div class="input-group-pass">
            <label>Contraseña Actual</label>
            <input type="password" placeholder="••••••••">
          </div>
          <div class="input-group-pass">
            <label>Nueva Contraseña</label>
            <input type="password" placeholder="Mínimo 8 caracteres">
          </div>
          <div class="input-group-pass">
            <label>Confirmar Nueva Contraseña</label>
            <input type="password" placeholder="Repite tu contraseña">
          </div>

          <div class="form-actions">
            <button type="submit" class="submit-btn">Actualizar Contraseña</button>
            <button type="button" class="cancel-btn" (click)="setVista('lista')">Cancelar</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</ion-content>