.main-split-container {
  display: flex;
  width: 100%;
  max-width: 1024px;
  border-radius: 40px;
  overflow: hidden;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.2);
  margin: auto;
}

.side-panel-left {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  border-right: 1px solid #e2e8f0;

  .logo-box {
    width: 150px;
    height: 150px;
    background: transparent;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin-bottom: 25px;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .side-panel-text {
    text-align: center;
    max-width: 240px;
  }

  .panel-title {
    font-size: 2.1rem;
    font-weight: 800;
    color: ion-text-title;
    margin: 0 0 8px;
  }

  .panel-description {
    font-size: 0.9rem;
    font-weight: 400;
    align-items: center;
    color: ion-border-color;
    line-height: 1.5;
    margin: 0;
  }
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  min-height: 100%;
  padding: 5rem;

  .login-card {
    background: card-background;
    width: 30rem;
    max-width: 35rem;
    padding: 40px 45px;
    justify-content: center;
    text-align: center;
  }
}

.header-section {
  .title-text {
    font-size: 2.8rem;
    font-weight: 800;
    color: ion-text-color;
    margin-bottom: 4px;
  }
}

.login-subtext {
  font-size: 1rem;
  font-weight: 700;
  color: ion-text-color-step-300;
  margin-top: 6px;
}

.input-group {
  margin-bottom: 22px;
  text-align: left;

  .field-label {
    font-size: 0.9rem;
    font-weight: 700;
    margin-bottom: 8px;
    color: ion-color-primary;
  }

  .input-item-box {
    justify-content: space-between;
    background: ion-item-background;
    border: 1px solid #e2e8f0;
    border-radius: 12px;
    height: 52px;
    display: flex;
    font-size: 0.8rem;
    padding: 0 15px;

    .native-input {
      width: 100%;
      border: none;
      background: transparent;
      outline: none;
    }
  }
}

// Boton
.custom-login-button {
  background: ion-border-color !important;
  color: ion-text-color !important;
  font-size: 1.2rem;
  width: 100%;
  max-width: 260px;
  height: 54px;
  border-radius: 27px;
  border: none;
  font-weight: 700;
  box-shadow: 0 6px 15px rgba(26, 61, 99, 0.3);
  cursor: pointer;
  transition: transform 0.2s ease;

  &:active {
    transform: scale(0.98);
  }
}

.forgot-text {
  margin-top: 15px;
  text-align: left;
  color: #3498db;
  font-weight: 700;
  font-size: 1.1rem;
  cursor: pointer;
}

.register-section {
  margin-top: 30px;
  .no-account-text {
    color: ion-color-primary-contrast;
    font-size: 1.7rem;
  }
}

.password-eye {
  font-size: 2.1rem;
  color: ion-text-color-step-300;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.password-label-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.password-label-row .forgot-text {
  margin: 0;
  font-size: 12px;
}
