<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">

  <div class="login-wrapper">
    <div class="main-split-container">

      <div class="side-panel-left">
        <div class="logo-box">
          <img src="assets/img/logo.png" alt="Logo">
        </div>

        <div class="side-panel-text">
          <h2 class="panel-title">Acceso al Sistema</h2>
          <p class="panel-description">
            Inicia sesión con tus credenciales asignadas para acceder a las funciones del sistema.
          </p>
        </div>
      </div>

      <div class="login-card">

        <div class="header-section">
          <h1 class="title-text">Iniciar Sesión</h1>
          <p class="login-subtext">Ingrese sus credenciales para continuar</p>
        </div>

        <div class="input-group">
          <label class="field-label">Número de reloj</label>

          <div class="input-item-box">
            <input
              type="text"
              placeholder="Ingrese su número"
              [(ngModel)]="numeroReloj"
              class="native-input">
          </div>
        </div>

        <div class="input-group">

          <div class="password-label-row">
            <label class="field-label">Contraseña</label>
            <span class="forgot-text">¿Olvidaste tus datos?</span>
          </div>

          <div class="input-item-box">

            <input
              [type]="showPassword ? 'text' : 'password'"
              placeholder="Ingrese su contraseña"
              [(ngModel)]="password"
              class="native-input">

            <ion-icon
              [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"
              class="password-eye"
              (click)="togglePassword()">
            </ion-icon>

          </div>

        </div>

        <div class="button-section">
          <button
            class="custom-login-button"
            (click)="login()"
            [disabled]="!numeroReloj || !password">

            Iniciar sesión

          </button>
        </div>

      </div>

    </div>
  </div>

</ion-content>