<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
<div class="login-wrapper">
   <div class="login-card">

    <div class="header-section">
        <h1 class="title-text">Iniciar Sesion</h1>
    </div>

    <div class="form-container">
        <div class="input-group">
          <p class="field-label">Correo electronico</p>
        <div class="input-item-box">
          <input type="text" placeholder="Ingrese sus datos" class="native-input">
        </div>
    </div>

      <!--La primera vez que el usuario inicie sesion, entrara con la contraseña que se le dio cuando
      lo registraron-->
        <div class="input-group">
          <label class="field-label">Contraseña</label>
          <div class="input-item-box">
            <input type="password" placeholder="Ingrese su contraseña" class="native-input">
          </div>
          <p class="forgot-text">¿Olvido sus datos de acceso?</p>
        </div>
  </div>

    <div class="button-section">
      <button class="custom-login-button">
        Iniciar sesion
      </button>
    </div>

 </div>
</div>
</ion-content>